.service-container {
  margin-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.text-container {
  text-align: center;
  padding: 20px;
}

.text-container h1 {
  color: var(--white-color);
  font-weight: 900;
  font-size: var(--text-50-size);
}

.text-container p {
  color: var(--paragraph-color);
  font-size: 1rem;
}

.for-mobile {
  /* display: none; */
}

@media (max-width: 575.98px) {
  .for-mobile {
    display: none;
    margin: 0 auto;
    max-width: 80%;
  }

  .service-content {
    margin-left: 11vw;
    margin-right: 20px;
    width: 90vw;
    text-align: center;
  }

  .service-content h1 {
    font-size: 30px !important;
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {
  .for-mobile {
    display: block;
  }

  .service-content {
    margin-right: 20px;
    width: 90vw;
    text-align: center;
  }

  .service-content h1 {
    font-size: 30px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .text-container {
    text-align: left;
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .text-container {
    text-align:left;
    padding: 20px;
  }
}