.ReceiveTransmission {

    color: white; /* Text color for content */
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .ReceiveTransmission h2 {
    font-size: var(--text-50-size);
    margin-bottom: 10px;
    font-weight: 900;
    /* font-family: Inter   ; */
  }
  
  .ReceiveTransmission p {
    font-size: var(--smaller-text-size);
    margin-bottom: 20px;
    color: var(--paragraph-color);
    line-height: 24px;
font-weight: 400;
}
@media (max-width: 575.98px) {
  .ReceiveTransmission h2{
text-align: center;
  }
  }