.ReceiveTransmission {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center text content */
  padding: 20px; /* Add padding for better spacing */
  margin-bottom: 30px;
}

.ReceiveTransmission h2 {
  font-size: var(--text-50-size); /* Adjust font size */
  margin-bottom: 10px;
  font-weight: 900;
}

.ReceiveTransmission p {
  font-size: var(--smaller-text-size); /* Adjust font size */
  margin-bottom: 20px;
  color: var(--paragraph-color);
  line-height: 24px;
  font-weight: 400;
}

.input-container {
  position: relative;
  width: 100%; /* Ensure input container stretches full width */
  max-width: 300px; /* Adjust max-width as needed */
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #565976;
}

@media (max-width: 575.98px) {
  .ReceiveTransmission h2 {
    font-size: 30px; /* Adjust font size */
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .ReceiveTransmission {
    padding: 20px; /* Adjust padding */
  }
}

@media screen and (min-width: 618px) and (max-width: 677px) {
  .ReceiveTransmission {
    padding: 20px; /* Adjust padding */
  }
}
