/* index.css */

.BuyAndsellContainer {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.ButAndselltext h2 {
  font-size: var(--text-50-size);
  font-weight: 900;
  color: var(--white-color);
}

.ButAndselltext p {
  font-size: var(--smaller-text-size);
  color: var(--paragraph-color);
}

.ButAndselltext a {
  color: var(--white-color);
  text-decoration: none;
  font-weight: 600;
  font-size: var(--smaller-text-size);
}


.TableLink {
  color: var(--white-color);
  text-decoration: none;
}



.TableContainer .table_data {

  background: none;
  color: white;
  border: none;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;

}


/* **************table Col style ***** */
.firstcol {
  text-align: left;

}

.col_2 {
  color: var(--link-color);
}

.col_3 {
  text-align: end;
}

.TableContainer .col_2 {
  color: var(--link-color);
}

.TableContainer .col_4 {
  color: var(--green-color);
  text-align: left;
}


@media (max-width: 575.98px) {
  /* Extra small devices (portrait phones) */

  .TableContainer .table_data {

    font-size: 10px;
  }

  .TableContainer {
    width: 100%;

  }

  .ButAndselltext h2 {
    font-size: 30px;
    font-weight: 900;

  }

}

@media (min-width: 576px) and (max-width: 767.98px) {
  .TableContainer .table_data {


    font-size: 10px;


  }

  .TableContainer {
    width: 100%;

  }

  .ButAndselltext h2 {
    font-size: 30px;
    font-weight: 900;

  }
}

@media screen and (min-width: 618px) and (max-width: 677px) {
  .ButAndselltext {
    margin-top: 50px;
  }
}

.TableContainer {
  width: 100%;
  overflow-x: auto;
  /* Enable horizontal scrolling on smaller screens */
  padding: 20px;
  /* Adjust overall padding */
  border-radius: 25px;
  /* Rounded corners */
  background-color: var(--bg-black);
}

.TableRow {
  background-color: var(--bg-black);
  border-top: 1px solid #2B2C3B;
  border-bottom: 1px solid #2B2C3B;

}

.TableLink {
  color: var(--white-color);
  text-decoration: none;
}

.TableArrow {
  margin-left: 5px;
}

.table_data {
  padding: 12px 20px;
  /* Adjust padding inside each table cell */
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

@media (max-width: 575.98px) {
  .table_data {
    font-size: 14px;
    /* Adjust font size for smaller screens */
  }
}