*{
  margin: 0px;
  padding: 0px;
  /* border: 1px solid red ; */
  /* background-color: black; */
}
:root {
    --primary-button-color: #18C8FF;
    --secondary-button-color: #933FFE;
    --linear-gradient: #18C8FF,#123b52,#0c1b26, #933FFE, #1E1E1E;
    /* --icon-gradient: linear-gradient(52.09deg, #982DEC -11.18%, #DC8DF8 58.92%, #A9C4F3 98.44%); */
   --icon-gradient:  #982DEC -11.18%, #DC8DF8 58.92%, #A9C4F3 98.44%;



/* Text Colors */
--white-color: #FFFFFF;
--paragraph-color: #898CA9;
--link-color: #B982FF;
--green-color:#0DBB7C;
--dargreen--color:#28a745;
--varred-color:red;
/* Font Sizes */
--smaller-text-size: 16px;
--small-text-size: 14px;
--text-50-size: 50px;
--medium-text-size: 32px;
--larger-text-size: 85px;


/* Font weight */
--font-weight-900: 900;

/* Font family */
--font-family-inter: 'Inter', sans-serif;



/* background-color: ; */

--bg-black:#1A1B23
  }
  
 



  /* ********************************************* */

/* Media queries for responsive design */
@media (max-width: 575.98px) {
.ForMobile{
  display: none;
}
 

}

@media (min-width: 576px) and (max-width: 767.98px) {
  .ForMobile{
    display: none;
    
  }
 
}

@media (min-width: 768px) and (max-width: 991.98px) {
  /* Medium devices (tablets) */
  .navbar .nav-link {
    /* Adjust styles as needed */
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Large devices (desktops) */
  .navbar .nav-link {
    /* Adjust styles as needed */
  }
}

@media (min-width: 1200px) {
  /* Extra large devices (large desktops) */
  .navbar .nav-link {
    /* Adjust styles as needed */
  }
}